extends base

block content
  #body(style='display: flex; flex-direction: column; align-items: center')
    h2 You successfully verified you Mail
    div(style='height: 40px')
    img(src='https://firebasestorage.googleapis.com/v0/b/forfurs.appspot.com/o/for_furs.png?alt=media&token=9b284698-ad37-47de-bea6-e13517067296' alt='For Furs' style='width: 200px')
